---
import Layout from "../layouts/layout.astro";
---

<Layout>
  <section class="hero">
    <div class="hero-overlay">
      <div class="hero-content">
        <h1 class="hero-title">BEIRUT</h1>
        <button class="tour-button">Tour Dates</button>
      </div>
    </div>
  </section>
</Layout>