<footer class="site-footer">
  <div class="footer-inner">

    <a href="https://www.facebook.com/BeirutMusic" class="social-link" target="_blank">
      <img src="/images/facebook.png" alt="Facebook" />
    </a>

    <a href="https://www.instagram.com/beirutband" class="social-link" target="_blank">
      <img src="/images/Instagram.png" alt="Instagram" />
    </a>

    <a href="https://open.spotify.com/artist/6pmxr66tMAePxzOLfjGNcX?si=l4VHHeQ0RIekeSdjZWqWrg" class="social-link" target="_blank">
      <img src="/images/Spotify.png" alt="Spotify" />
    </a>

    <a href="https://music.apple.com/us/artist/beirut/1251376" class="social-link" target="_blank">
      <img src="/images/apple-music.png" alt="Apple Music" />
    </a>

  </div>
</footer>
