---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import "../style/style.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Beirut Band Website</title>

    <!-- Google Fonts: Poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <Header />

    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>
