---
import Layout from "./layout.astro";   
import "../style/post.css";          

const { frontmatter } = Astro.props;
---

<Layout>
  <main class="post-page">
    <article class="post-wrapper">
      <h1 class="post-title">{frontmatter.title}</h1>

      <p class="post-meta">
        <em>By {frontmatter.author}</em> — {frontmatter.date}
      </p>

      <p class="post-description">
        {frontmatter.description}
      </p>

      <div class="post-content">
        <slot />
      </div>
    </article>
  </main>
</Layout>
